.form{
    width: 22%;
    margin: auto;
    margin-top: 20%;
}

.form label{
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 2px dashed black;
    font-size: 1.3rem;
}

.form label:hover{
    background-color: white;
}

.form button{
    width: 92%;
    margin-top: 20px;
    padding: 5px;
    font-size: 1.1rem;
    background-color: darkcyan;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#ansSheetImage{
    display: none;
}